@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-header {
  font-family: 'Amatic SC', cursive;
}

.jumbotron {
  background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.input-city {
  max-width: 300px;
  margin: auto;
}

button {
  font-family: 'Amatic SC', cursive;
}
